:root {
  --main-color: #b9540c;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  position: relative;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

.cards-container {
  margin: 0 auto;
  background-color: var(--main-color);
}
