:root {
  --main-color: #b9540c;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  position: relative;
  background-color: var(--main-color);
  color: #fff;
}

h1 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  position: relative;
}

.root {
  display: flex;
  flex-direction: column;
}

.main-container {
  margin: 0 auto;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1rem;
  font-weight: 600;
}

.card-container {
  padding: 30px;
}

.characters {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (width >= 600px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 30px;
  }

  @media (width >= 880px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 30px;
  }
}

.character {
  background-color: #331c0e;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #000;
  z-index: 1;
  position: relative;
  transition: 1s;
}

.character:hover {
  z-index: 0;
}

.character__image {
  object-fit: cover;
  object-position: top;
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.character__image--dead {
  rotate: 180deg;
}

.character__content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.character__name {
  margin: 0;
}

.character__information {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.character__state {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-hover {
  padding: 10px;
  border-radius: 4px;
  background-color: #0009;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0px;
}

.card-hover:hover {
  z-index: 1;
}

.card-hover__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
